---
import { Image } from "astro:assets";
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from "../layouts/BaseLayout.astro";

// Component Imports
import CallToAction from "../components/CallToAction.astro";
import Grid from "../components/Grid.astro";
import Hero from "../components/Hero.astro";
import HeroBackground from "../components/HeroBackground.astro";
import Icon from "../components/Icon.astro";
import Card from "../components/Card.astro";

// Page section components
import ContactCTA from "../components/ContactCTA.astro";

// Image Imports
import excitedGroup from "../images/group_excited_cropped.jpg";
import stairs3 from "../images/stairs_3.jpg";
import qChoir from "../images/qchoirshirts.jpg";
---

<BaseLayout>
  <div class="stack">
    <header class="hero">
      <HeroBackground />
      <div class="hero-wrapper">
        <div class="wrapper hero-inner-wrapper">
          <Hero
            tagline="We specialize in bulk custom glitter printing and screen printing."
            align="start"
          >
            <span slot="title"><nobr>T-shirts</nobr> that sparkle</span>
            <div class="cta">
              <CallToAction href="/#contact">Get A Quote</CallToAction>
            </div>
          </Hero>
          <Image
            src={excitedGroup}
            width={650}
            alt="A group of five people wearing t-shirts looking at each other excitedly. Each person's t-shirt has a glitter design on it: the two on the left have the Progress Pride flag in a heart on the upper left chest, the two in the middle have vertical rainbow stripes in a heart in the center of the chest, and the one on the right has a classic pride flag in a heart in the center of the chest"
          />
        </div>
      </div>
    </header>

    <main class="stack gap-10 lg:gap-15">
      <section>
        <Card alignTop="left" alignAuto="right">
          <div class="section-text" slot="top">
            <div class="section-header stack gap-2 lg:gap-4">
              <h3>Add glitter to any image</h3>
              <div class="stack gap-2 lg:gap-4">
                <p>
                  Choose one of our existing designs, provide your own, or work
                  with us to develop the perfect design.
                </p>
                <p>Great for:</p>
              </div>
            </div>
            <div class="gallery">
              <Grid variant="small">
                {
                  ["Schools", "Youth Groups", "Non-Profits"].map((group) => (
                    <li class="mention-card">
                      <p>{group}</p>
                    </li>
                  ))
                }
              </Grid>
            </div>
          </div>
          <Image
            class="vertical-img"
            slot="bottom"
            width={400}
            src={qChoir}
            alt="Two people wearing black shirts glitter printed with the words Q Choir in purple on a music staff over a rainbow background."
          />
        </Card>
      </section>
      <section>
        <Card alignTop="right" alignAuto="left">
          <div class="section-text" slot="top">
            <div class="section-header stack gap-2 lg:gap-4">
              <h3>Support a great cause</h3>
              <p>Partner with us for your next fundraising campaign.</p>
            </div>
            <div class="gallery">
              <Grid variant="small">
                {
                  [
                    "Pink Shirt Day",
                    "Pride",
                    "Trans Day of Visibility",
                    "Solidarity Actions",
                    "...and many more!",
                  ].map((campaign) => (
                    <li class="mention-card">
                      <p>{campaign}</p>
                    </li>
                  ))
                }
              </Grid>
            </div>
          </div>
          <Image
            class="vertical-img"
            slot="bottom"
            src={stairs3}
            width={400}
            alt="Three people seated on concrete stairs. The person at the top wears a teal tank top glitter printed with a Progress Pride flag in the shape of a heart. The person in the middle wears a black t-shirt glitter printed with a genderqueer flag in the shape of an anatomical heart. The person at the bottom wears a purple tank top glitter printed with a pansexual flag in the shape of an anatomical heart."
          />
        </Card>
      </section>
    </main>

    <ContactCTA>
      <p>Have a question?</p>
      <p>Interested in a quote?</p>
      <p>We would love to hear from you!</p>
    </ContactCTA>
  </div>
</BaseLayout>

<style>
  .hero {
    position: relative;
  }
  .hero-wrapper {
    padding-block: 60px;
  }
  .hero-inner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 32px;
    border-radius: 48px;
    background-color: hsl(0 100% 96.5% /0.85);
  }

  img {
    object-fit: cover;
    object-position: top;
    border-radius: 24px;
    box-shadow: var(--shadow-md);
  }

  @media (min-width: 62rem) {
    .hero-wrapper {
      padding-inline: 40px;
    }
    .hero-inner-wrapper {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 48px;
      border-radius: 64px;
    }

    img {
      border-radius: 48px;
    }
  }

  /* ====================================================== */

  main {
    padding-block: 32px;
  }

  .vertical-img {
    aspect-ratio: 3/4;
  }

  .section-text {
    display: grid;
    gap: 24px;
    max-width: 428px;
    margin-inline: auto;
  }

  .with-background {
    position: relative;
    background-color: var(--background-color);
  }

  .section-header {
    max-width: 60ch;
    font-size: var(--text-md);
    gap: 16px;
  }

  .section-header h3 {
    font-size: var(--text-2xl);
  }

  @media (min-width: 62rem) {
    main {
      padding-block: 60px;
    }

    .section-text {
      gap: 48px;
      max-width: 750px;
    }
    .section-header {
      font-size: var(--text-lg);
      gap: 32px;
    }

    .section-header h3 {
      font-size: var(--text-4xl);
    }
  }

  /* ====================================================== */

  .mention-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 16px;
    background-color: #ffffff;
    border: 1px solid var(--gray-800);
    border-radius: 1.5rem;
    box-shadow: var(--shadow-sm);
  }

  @media (min-width: 62rem) {
    .mention-card {
      border-radius: 1.5rem;
      padding: 32px;
    }
  }
</style>
