---
import { Image } from "astro:assets";

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from "../layouts/BaseLayout.astro";

// Component Imports
import CallToAction from "../components/CallToAction.astro";
import Grid from "../components/Grid.astro";
import Hero from "../components/Hero.astro";
import HeroBackground from "../components/HeroBackground.astro";
import Card from "../components/Card.astro";
import ContactCTA from "../components/ContactCTA.astro";

// Image Imports
import excitedGroup from "../images/group_excited_cropped.jpg";
import stairs3 from "../images/stairs_3.jpg";
import stairsGroup from "../images/stairs_group.jpg";
import qChoir from "../images/qchoirshirts.jpg";
import progressHeart from "../images/progress-heart-cropped.jpg";
import threeCircles from "../images/trio-cropped.jpg";
import anatRainbow from "../images/anat-rainbow-cropped.jpg";
---

<BaseLayout>
  <div class="stack">
    <header class="hero">
      <HeroBackground />
      <div class="hero-wrapper">
        <div class="wrapper hero-inner-wrapper">
          <Hero
            tagline="We specialize in bulk custom glitter printing and screen printing."
            align="start"
          >
            <span slot="title"><nobr>T-shirts</nobr> that sparkle</span>
            <div class="cta">
              <CallToAction href="/#contact">Get A Quote</CallToAction>
            </div>
          </Hero>
          <Image
            src={excitedGroup}
            width={650}
            alt="A group of five people wearing t-shirts looking at each other excitedly. Each person's t-shirt has a glitter design on it: the two on the left have the Progress Pride flag in a heart on the upper left chest, the two in the middle have vertical rainbow stripes in a heart in the center of the chest, and the one on the right has a classic pride flag in a heart in the center of the chest"
          />
        </div>
      </div>
    </header>

    <main class="stack">
      <div>
        <Card alignAuto="left" alignTop="right">
          <div class="section-text" slot="top">
            <div class="section-header stack gap-2 lg:gap-4">
              <h2>
                Custom designs and local printing for non-profits, schools, and
                organizations seeking to raise visibility with a sparkle.
              </h2>
              <p>
                Starr Designs is based in Vancouver, BC, on the unceded land of
                the Squamish, Musqueam, & Tsleil-Waututh nations.
              </p>
            </div>
          </div>
          <Image
            class="vertical-img"
            slot="bottom"
            width={400}
            src={stairsGroup}
            alt="Five people seated in tree rows on concrete stairs. Top row:  An asian woman in a teal tank top glitter printed with a Progress Pride flag in the shape of a heart and a black woman in a purple tank top glitter printed with a pansexual flag in the shape of an anatomical heart. Middle row: A white person in a black t-shirt glitter printed with a genderqueer flag in the shape of an anatomical heart. Bottom row: Two white men both in black t-shirts glitter printed with a circular image of technicolor clouds with a blue butterfly in the center."
          />
        </Card>
      </div>
      <section class="pop-background">
        <div class="small-cards wrapper gap-8">
          <section class="stack gap-2 lg:gap-4">
            <Image
              class="small-card-image"
              width={220}
              src={anatRainbow}
              alt="Close up of an anatomical heart overlayed with a rainbow gradient glitter printed on a black heathered t-shirt."
            />
            <h4>Get Peace of Mind</h4>
            <div class="stack gap-2 lg:gap-4">
              <p>
                Our wearable glitter is child-safe, durable, and won't transfer
                or shed.
              </p>
              <p>
                It's machine washable and can go in the washer and dryer with
                your regular load.
              </p>
            </div>
          </section>
          <section class="stack gap-2 lg:gap-4">
            <Image
              class="small-card-image"
              width={220}
              src={threeCircles}
              alt="Close up of three circular images arranged in a slightly upward angling line, printed across a black t-shirt. The left and right images show different variations of rainbows over mountain tops, while the middle image show a rear-view of a seated black cat in front of a multicolored nebula"
            />
            <h4>Glitterize Anything</h4>
            <div class="stack gap-2 lg:gap-4">
              <p>We can add glitter to any image.</p>
              <p>
                Choose one of our existing designs, provide your own, or work
                with us to develop the perfect design.
              </p>
            </div>
          </section>
          <section class="stack gap-2 lg:gap-4">
            <Image
              class="small-card-image"
              width={220}
              src={progressHeart}
              alt="Close up of a Progress Pride flag in the shape of a heart printed on a black t-shirt."
            />
            <h4>Buy Local</h4>
            <div class="stack gap-2 lg:gap-4">
              <p>Know where your printing is happening.</p>
              <p>
                We are committed to working with local crafts people in the
                Lower Mainland and paying a living wage.
              </p>
            </div>
          </section>
        </div>
      </section>
      <section class="white-background">
        <Card alignTop="left" alignAuto="right">
          <div class="section-text" slot="top">
            <div class="section-header stack gap-2 lg:gap-4">
              <div class="testimonial stack gap-2 lg:gap-4">
                <p>
                  "Joshua was so fabulous to work with, he was flexible to our
                  changing needs and delivered beautiful shirts on a short
                  deadline. The shirts are excellent quality, and held up after
                  multiple wash and wears. We would be happy to work with Joshua
                  again!"
                </p>
                <p class="attribution">- Goldbard, Q Choir</p>
              </div>
            </div>
          </div>
          <Image
            class="vertical-img"
            slot="bottom"
            width={400}
            src={qChoir}
            alt="Two people wearing black shirts glitter printed with the words Q Choir in purple on a music staff over a rainbow background."
          />
        </Card>
      </section>
      <section>
        <Card alignTop="right" alignAuto="left">
          <div class="section-text" slot="top">
            <div class="section-header stack gap-2 lg:gap-4">
              <h3>Support a great cause</h3>
              <p>Partner with us for your next fundraising campaign.</p>
            </div>
            <div class="gallery">
              <Grid variant="small">
                {
                  [
                    "Pink Shirt Day",
                    "Pride",
                    "Trans Day of Visibility",
                    "Day of Pink",
                    "Custom Designs",
                  ].map((campaign) => (
                    <li class="mention-card">
                      <p>{campaign}</p>
                    </li>
                  ))
                }
              </Grid>
            </div>
          </div>
          <Image
            class="vertical-img"
            slot="bottom"
            src={stairs3}
            width={400}
            alt="Three people seated on concrete stairs. The person at the top wears a teal tank top glitter printed with a Progress Pride flag in the shape of a heart. The person in the middle wears a black t-shirt glitter printed with a genderqueer flag in the shape of an anatomical heart. The person at the bottom wears a purple tank top glitter printed with a pansexual flag in the shape of an anatomical heart."
          />
        </Card>
      </section>
    </main>

    <ContactCTA>
      <p>Have a question?</p>
      <p>Interested in a quote?</p>
      <p>We would love to hear from you!</p>
    </ContactCTA>
  </div>
</BaseLayout>

<style>
  .hero {
    position: relative;
  }
  .hero-wrapper {
    padding-block: 60px;
  }
  .hero-inner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 32px;
    border-radius: 48px;
    background-color: hsl(0 100% 96.5% /0.85);
  }

  img {
    object-fit: cover;
    object-position: top;
    border-radius: 24px;
    box-shadow: var(--shadow-md);
  }

  @media (min-width: 62rem) {
    .hero-wrapper {
      padding-inline: 40px;
    }
    .hero-inner-wrapper {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 48px;
      border-radius: 64px;
    }

    img {
      border-radius: 48px;
    }
  }

  /* ====================================================== */

  main > * {
    padding-block: 40px;
  }

  .vertical-img {
    aspect-ratio: 3/4;
  }

  .section-text {
    display: grid;
    gap: 24px;
    /* max-width: 500px; */
    margin-inline: auto;
  }

  h2 {
    font-size: var(--text-2xl);
  }

  .testimonial {
    font-size: var(--text-lg);
  }
  .attribution {
    text-align: end;
  }

  .white-background {
    background-color: var(--gray-999);
  }
  .pop-background {
    background-color: var(--pop-color);
  }

  .section-header {
    max-width: 60ch;
    font-size: var(--text-md);
    gap: 16px;
  }

  .section-header h3 {
    font-size: var(--text-2xl);
  }

  @media (min-width: 62rem) {
    main > * {
      padding-block: 60px;
    }

    .section-text {
      gap: 48px;
      max-width: 750px;
    }
    .section-header {
      font-size: var(--text-lg);
      gap: 32px;
    }

    .section-header h3 {
      font-size: var(--text-4xl);
    }
    h2 {
      font-size: var(--text-4xl);
    }
    .testimonial {
      font-size: var(--text-xl);
    }
  }

  /* ====================================================== */

  .small-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .small-cards section {
    max-width: 500px;
    border-radius: 64px;
    /* border: 8px solid var(--pop-color); */
    padding: 24px 24px 32px;
    font-size: var(--text-md);
    background-color: var(--gray-999);
  }

  .small-cards h4 {
    font-size: var(--text-xl);
    color: var(--pop-color);
  }

  .small-card-image {
    border-radius: 48px;
    align-self: center;
    margin-block-end: 8px;
  }

  @media (min-width: 62rem) {
    .small-cards {
      flex-direction: row;
      justify-content: space-around;
      align-items: stretch;
    }
    .small-cards section {
      max-width: 360px;
      border-radius: 64px;
    }
  }
  /* ====================================================== */

  .mention-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 16px;
    background-color: #ffffff;
    border: 1px solid var(--gray-800);
    border-radius: 1.5rem;
    box-shadow: var(--shadow-sm);
  }

  @media (min-width: 62rem) {
    .mention-card {
      border-radius: 1.5rem;
      padding: 32px;
    }
  }
</style>
